<!doctype html> 
<html>
  <head>
    <meta charset="utf-8" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <title>wiredlive2017</title>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link rel="alternate" type="application/atom+xml" title="Atom Feed" href="/feed.xml" /><!--[if lt IE 9]><script src="../js/ie8.js" type="text/javascript"></script><![endif]--><link href="../css/all.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/favicon.png" rel="icon" type="image/png" />
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries --><!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="navbar navbar-material-blog navbar-danger navbar-absolute-top">
      <div class="navbar-image" style="background-image: url(/images/c4e84e2aa40d37a0114eb26236012c9f.jpeg);background-position: center 40%;"></div>
      <div class="navbar-wrapper container">
        <div class="navbar-header">
          <button class="navbar-toggle" data-target=".navbar-responsive-collapse" data-toggle="collapse" type="button"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a class="navbar-brand" href="/index.html">wiredlive2017</a>
        </div>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav">
            <li>
              <a href="/menu1.html"> Event Overview  </a>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-target="#" data-toggle="dropdown" href="#">Categories <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li>
                  <a href="/tags/activism.html">activism (2)</a>
                </li>
                <li>
                  <a href="/tags/ai.html">ai (2)</a>
                </li>
                <li>
                  <a href="/tags/day1.html">day1 (15)</a>
                </li>
                <li>
                  <a href="/tags/day2.html">day2 (10)</a>
                </li>
                <li>
                  <a href="/tags/design.html">design (2)</a>
                </li>
                <li>
                  <a href="/tags/film.html">film (1)</a>
                </li>
                <li>
                  <a href="/tags/gaming.html">gaming (1)</a>
                </li>
                <li>
                  <a href="/tags/journalism.html">journalism (1)</a>
                </li>
                <li>
                  <a href="/tags/research.html">research (8)</a>
                </li>
                <li>
                  <a href="/tags/socialmedia.html">socialMedia (2)</a>
                </li>
                <li>
                  <a href="/tags/strategy.html">strategy (4)</a>
                </li>
                <li>
                  <a href="/tags/virtualreality.html">virtualReality (1)</a>
                </li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
          </ul>
        </div>
      </div>
    </div>
    <div class="container blog-content">
      <div class="row">
        <div class="col-sm-12 blog-main">
          <div class="row">
            <div class="col-sm-4">
              <section class="blog-post">
                <div class="panel panel-default">
                  <a href="/2017/11/10/i-survived-a-mass-shooting.html"><img class="img-responsive" src="/images/ea526c36fbcc7a37f7656abdc09ff11c.jpeg" /></a>
                  <div class="panel-body">
                    <div class="blog-post-meta">
                      <span class="label label-light label-info"><a href="/tags/day2.html">day2</a></span>
                      <p class="blog-post-date pull-right">
                        Nov 10
                      </p>
                    </div>
                    <div class="blog-post-content">
                      <h2 class="blog-post-title">
                        <a href="/2017/11/10/i-survived-a-mass-shooting.html">I Survived a Mass Shooting</a>
                      </h2>
                      <p>
                        Curious about Evernote and how it can make your everyday more productive? Try it out here! Bjørn Ihler technologist and activist SPEAKER BIO Ihler survived the 2011 terror attack in Norway. Now he is one of ten campaigners behind counter-extremism in...
                      </p>
                      <a class="btn btn-info" href="/2017/11/10/i-survived-a-mass-shooting.html">Read More</a><a class="blog-post-share pull-right" href="http://twitter.com/share?text=I Survived a Mass Shooting&url=https://wiredlive2017-1.curation.space/2017/11/10/i-survived-a-mass-shooting.html"><i class="material-icons">&#xE80D;</i></a>
                    </div>
                  </div>
                </div>
              </section>
              <section class="blog-post">
                <div class="panel panel-default">
                  <a href="/2017/11/10/science-museum-presents-part-three-the-antibiotic-resistance-crisis.html"><img class="img-responsive" src="/images/c4a7d713b2c32ebd5a1b7a0c63964b7f.jpeg" /></a>
                  <div class="panel-body">
                    <div class="blog-post-meta">
                      <span class="label label-light label-info"><a href="/tags/research.html">research</a></span>
                      <span class="label label-light label-info"><a href="/tags/day2.html">day2</a></span>
                      <p class="blog-post-date pull-right">
                        Nov 10
                      </p>
                    </div>
                    <div class="blog-post-content">
                      <h2 class="blog-post-title">
                        <a href="/2017/11/10/science-museum-presents-part-three-the-antibiotic-resistance-crisis.html">Science Museum Presents Part Three: The Antibiotic Resistance Crisis</a>
                      </h2>
                      <p>
                        Curious about Evernote and how it can make your everyday more productive? Try it out here! Dame Sally Davies chief medical officer of England, Department of Health With an introduction by Roger Highfield SPEAKER BIO As chief medical officer of the UK...
                      </p>
                      <a class="btn btn-info" href="/2017/11/10/science-museum-presents-part-three-the-antibiotic-resistance-crisis.html">Read More</a><a class="blog-post-share pull-right" href="http://twitter.com/share?text=Science Museum Presents Part Three: The Antibiotic Resistance Crisis&url=https://wiredlive2017-1.curation.space/2017/11/10/science-museum-presents-part-three-the-antibiotic-resistance-crisis.html"><i class="material-icons">&#xE80D;</i></a>
                    </div>
                  </div>
                </div>
              </section>
              <section class="blog-post">
                <div class="panel panel-default">
                  <a href="/2017/11/10/the-digital-climate.html"><img class="img-responsive" src="/images/79219cafb5885a67e4f6f20865f79dad.jpeg" /></a>
                  <div class="panel-body">
                    <div class="blog-post-meta">
                      <span class="label label-light label-info"><a href="/tags/strategy.html">strategy</a></span>
                      <span class="label label-light label-info"><a href="/tags/day2.html">day2</a></span>
                      <p class="blog-post-date pull-right">
                        Nov 10
                      </p>
                    </div>
                    <div class="blog-post-content">
                      <h2 class="blog-post-title">
                        <a href="/2017/11/10/the-digital-climate.html">The Digital Climate</a>
                      </h2>
                      <p>
                        Curious about Evernote and how it can make your everyday more productive? Try it out here! Matt Brittin president, EMEA business and operations, Google SPEAKER BIO World Rowing Championships medallist-turned-Google Europe chief Matt Brittin is the co...
                      </p>
                      <a class="btn btn-info" href="/2017/11/10/the-digital-climate.html">Read More</a><a class="blog-post-share pull-right" href="http://twitter.com/share?text=The Digital Climate&url=https://wiredlive2017-1.curation.space/2017/11/10/the-digital-climate.html"><i class="material-icons">&#xE80D;</i></a>
                    </div>
                  </div>
                </div>
              </section>
              <section class="blog-post">
                <div class="panel panel-default">
                  <a href="/2017/11/09/using-bubbles-to-fight-cancer.html"><img class="img-responsive" src="/images/2a74b805b4223af2841a3822be00f253.jpeg" /></a>
                  <div class="panel-body">
                    <div class="blog-post-meta">
                      <span class="label label-light label-info"><a href="/tags/research.html">research</a></span>
                      <span class="label label-light label-info"><a href="/tags/day2.html">day2</a></span>
                      <p class="blog-post-date pull-right">
                        Nov  9
                      </p>
                    </div>
                    <div class="blog-post-content">
                      <h2 class="blog-post-title">
                        <a href="/2017/11/09/using-bubbles-to-fight-cancer.html">Using Bubbles to Fight Cancer</a>
                      </h2>
                      <p>
                        Curious about Evernote and how it can make your everyday more productive? Try it out here! Eleanor Stride professor of engineering science fellow of St Catherine’s College, University of Oxford SPEAKER BIO Oxford University professor Eleanor Stride i...
                      </p>
                      <a class="btn btn-info" href="/2017/11/09/using-bubbles-to-fight-cancer.html">Read More</a><a class="blog-post-share pull-right" href="http://twitter.com/share?text=Using Bubbles to Fight Cancer&url=https://wiredlive2017-1.curation.space/2017/11/09/using-bubbles-to-fight-cancer.html"><i class="material-icons">&#xE80D;</i></a>
                    </div>
                  </div>
                </div>
              </section>
              <section class="blog-post">
                <div class="panel panel-default">
                  <a href="/2017/11/09/the-human-factor.html"><img class="img-responsive" src="/images/5c901a877142432b31d9c06d2f77be4d.jpeg" /></a>
                  <div class="panel-body">
                    <div class="blog-post-meta">
                      <span class="label label-light label-info"><a href="/tags/day1.html">day1</a></span>
                      <span class="label label-light label-info"><a href="/tags/gaming.html">gaming</a></span>
                      <p class="blog-post-date pull-right">
                        Nov  9
                      </p>
                    </div>
                    <div class="blog-post-content">
                      <h2 class="blog-post-title">
                        <a href="/2017/11/09/the-human-factor.html">The Human Factor</a>
                      </h2>
                      <p>
                        Curious about Evernote and how it can make your everyday more productive? Try it out here! Ilkka Paananen CEO, Supercell SPEAKER BIO Supercell is the Helsinki-based mobile games developer behind Clash of Clans, Hay Day, Boom Beach and Clash Royale. S...
                      </p>
                      <a class="btn btn-info" href="/2017/11/09/the-human-factor.html">Read More</a><a class="blog-post-share pull-right" href="http://twitter.com/share?text=The Human Factor&url=https://wiredlive2017-1.curation.space/2017/11/09/the-human-factor.html"><i class="material-icons">&#xE80D;</i></a>
                    </div>
                  </div>
                </div>
              </section>
              <section class="blog-post">
                <div class="panel panel-default">
                  <a href="/2017/11/07/the-age-of-the-entrepreneur-part-one.html"><img class="img-responsive" src="/images/1991fb46bf3cc0335ca94129ef301ec4.jpeg" /></a>
                  <div class="panel-body">
                    <div class="blog-post-meta">
                      <span class="label label-light label-info"><a href="/tags/day1.html">day1</a></span>
                      <span class="label label-light label-info"><a href="/tags/strategy.html">strategy</a></span>
                      <p class="blog-post-date pull-right">
                        Nov  7
                      </p>
                    </div>
                    <div class="blog-post-content">
                      <h2 class="blog-post-title">
                        <a href="/2017/11/07/the-age-of-the-entrepreneur-part-one.html">The Age of the Entrepreneur: Part One</a>
                      </h2>
                      <p>
                        Curious about Evernote and how it can make your everyday more productive? Try it out here! PANEL: HOW DO WE BEST SOLVE THE BIGGEST CHALLENGES FACING OUR PLANET? Niklas Zennström CEO and founding partner, Atomico Johan Rockström director, Stockholm Re...
                      </p>
                      <a class="btn btn-info" href="/2017/11/07/the-age-of-the-entrepreneur-part-one.html">Read More</a><a class="blog-post-share pull-right" href="http://twitter.com/share?text=The Age of the Entrepreneur: Part One&url=https://wiredlive2017-1.curation.space/2017/11/07/the-age-of-the-entrepreneur-part-one.html"><i class="material-icons">&#xE80D;</i></a>
                    </div>
                  </div>
                </div>
              </section>
              <section class="blog-post">
                <div class="panel panel-default">
                  <a href="/2017/11/07/how-emotions-are-made.html"><img class="img-responsive" src="/images/915c5a413aa6d2afb2c0012930b110a1.jpeg" /></a>
                  <div class="panel-body">
                    <div class="blog-post-meta">
                      <span class="label label-light label-info"><a href="/tags/day1.html">day1</a></span>
                      <span class="label label-light label-info"><a href="/tags/research.html">research</a></span>
                      <p class="blog-post-date pull-right">
                        Nov  7
                      </p>
                    </div>
                    <div class="blog-post-content">
                      <h2 class="blog-post-title">
                        <a href="/2017/11/07/how-emotions-are-made.html">How Emotions are Made</a>
                      </h2>
                      <p>
                        Curious about Evernote and how it can make your everyday more productive? Try it out here! Lisa Feldman Barrett distinguished professor of psychology, Northeastern University director, Interdisciplinary Affective Science Lab SPEAKER BIO The Interdisc...
                      </p>
                      <a class="btn btn-info" href="/2017/11/07/how-emotions-are-made.html">Read More</a><a class="blog-post-share pull-right" href="http://twitter.com/share?text=How Emotions are Made&url=https://wiredlive2017-1.curation.space/2017/11/07/how-emotions-are-made.html"><i class="material-icons">&#xE80D;</i></a>
                    </div>
                  </div>
                </div>
              </section>
              <section class="blog-post">
                <div class="panel panel-default">
                  <a href="/2017/11/07/counterterrorism-on-social-media.html"><img class="img-responsive" src="/images/eb087d3b4c2b9587fe11356c06c76edc.jpeg" /></a>
                  <div class="panel-body">
                    <div class="blog-post-meta">
                      <span class="label label-light label-info"><a href="/tags/day1.html">day1</a></span>
                      <span class="label label-light label-info"><a href="/tags/socialmedia.html">socialMedia</a></span>
                      <p class="blog-post-date pull-right">
                        Nov  7
                      </p>
                    </div>
                    <div class="blog-post-content">
                      <h2 class="blog-post-title">
                        <a href="/2017/11/07/counterterrorism-on-social-media.html">Counterterrorism on Social Media</a>
                      </h2>
                      <p>
                        Curious about Evernote and how it can make your everyday more productive? Try it out here! Brian Fishman lead policy manager, counterterrorism, Facebook SPEAKER BIO Brian Fishman is the author of The Master Plan: ISIS, al-Qaeda, and the Jihadi Strate...
                      </p>
                      <a class="btn btn-info" href="/2017/11/07/counterterrorism-on-social-media.html">Read More</a><a class="blog-post-share pull-right" href="http://twitter.com/share?text=Counterterrorism on Social Media&url=https://wiredlive2017-1.curation.space/2017/11/07/counterterrorism-on-social-media.html"><i class="material-icons">&#xE80D;</i></a>
                    </div>
                  </div>
                </div>
              </section>
              <section class="blog-post">
                <div class="panel panel-default">
                  <a href="/2017/11/06/the-world-in-simulation.html"><img class="img-responsive" src="/images/d71279b71b71f34dc96c9295daccb9cf.jpeg" /></a>
                  <div class="panel-body">
                    <div class="blog-post-meta">
                      <span class="label label-light label-info"><a href="/tags/day1.html">day1</a></span>
                      <span class="label label-light label-info"><a href="/tags/virtualreality.html">virtualReality</a></span>
                      <p class="blog-post-date pull-right">
                        Nov  6
                      </p>
                    </div>
                    <div class="blog-post-content">
                      <h2 class="blog-post-title">
                        <a href="/2017/11/06/the-world-in-simulation.html">The World in Simulation</a>
                      </h2>
                      <p>
                        Curious about Evernote and how it can make your everyday more productive? Try it out here! Herman Narula co-founder and CEO, improbable SPEAKER BIO Improbable co-founder Narula is building the Matrix. His company’s large-scale, complex simulations us...
                      </p>
                      <a class="btn btn-info" href="/2017/11/06/the-world-in-simulation.html">Read More</a><a class="blog-post-share pull-right" href="http://twitter.com/share?text=The World in Simulation&url=https://wiredlive2017-1.curation.space/2017/11/06/the-world-in-simulation.html"><i class="material-icons">&#xE80D;</i></a>
                    </div>
                  </div>
                </div>
              </section>
            </div>
            <div class="col-sm-4">
              <section class="blog-post">
                <div class="panel panel-default">
                  <a href="/2017/11/10/augmented-reality-is-here-and-ready-to-use.html"><img class="img-responsive" src="/images/8f0ea3231d6dd0bf15420de2d19d8671.jpeg" /></a>
                  <div class="panel-body">
                    <div class="blog-post-meta">
                      <span class="label label-light label-info"><a href="/tags/ai.html">ai</a></span>
                      <span class="label label-light label-info"><a href="/tags/day2.html">day2</a></span>
                      <p class="blog-post-date pull-right">
                        Nov 10
                      </p>
                    </div>
                    <div class="blog-post-content">
                      <h2 class="blog-post-title">
                        <a href="/2017/11/10/augmented-reality-is-here-and-ready-to-use.html">Augmented Reality is Here and Ready to Use</a>
                      </h2>
                      <p>
                        Curious about Evernote and how it can make your everyday more productive? Try it out here! Brian Mullins Founder, DAQRI SPEAKER BIO Augmented reality company DAQRI has created professional-grade Smart Helmet to enhance human capabilities. Most recent...
                      </p>
                      <a class="btn btn-info" href="/2017/11/10/augmented-reality-is-here-and-ready-to-use.html">Read More</a><a class="blog-post-share pull-right" href="http://twitter.com/share?text=Augmented Reality is Here and Ready to Use&url=https://wiredlive2017-1.curation.space/2017/11/10/augmented-reality-is-here-and-ready-to-use.html"><i class="material-icons">&#xE80D;</i></a>
                    </div>
                  </div>
                </div>
              </section>
              <section class="blog-post">
                <div class="panel panel-default">
                  <a href="/2017/11/10/democratic-design.html"><img class="img-responsive" src="/images/f1dd80e5f974ae994014c3a4f09a4f99.jpeg" /></a>
                  <div class="panel-body">
                    <div class="blog-post-meta">
                      <span class="label label-light label-info"><a href="/tags/day2.html">day2</a></span>
                      <span class="label label-light label-info"><a href="/tags/design.html">design</a></span>
                      <p class="blog-post-date pull-right">
                        Nov 10
                      </p>
                    </div>
                    <div class="blog-post-content">
                      <h2 class="blog-post-title">
                        <a href="/2017/11/10/democratic-design.html">Democratic Design</a>
                      </h2>
                      <p>
                        Curious about Evernote and how it can make your everyday more productive? Try it out here! Marcus Engman head of design, IKEA SPEAKER BIO IKEA’s focus on democratic design is at the heart of its continued success. Engman’s team creates engaging, bord...
                      </p>
                      <a class="btn btn-info" href="/2017/11/10/democratic-design.html">Read More</a><a class="blog-post-share pull-right" href="http://twitter.com/share?text=Democratic Design&url=https://wiredlive2017-1.curation.space/2017/11/10/democratic-design.html"><i class="material-icons">&#xE80D;</i></a>
                    </div>
                  </div>
                </div>
              </section>
              <section class="blog-post">
                <div class="panel panel-default">
                  <a href="/2017/11/10/fighting-for-workers-rights-in-the-gig-economy.html"><img class="img-responsive" src="/images/eabe77cbc361211d7add5863556fa7a2.jpeg" /></a>
                  <div class="panel-body">
                    <div class="blog-post-meta">
                      <span class="label label-light label-info"><a href="/tags/activism.html">activism</a></span>
                      <span class="label label-light label-info"><a href="/tags/day2.html">day2</a></span>
                      <p class="blog-post-date pull-right">
                        Nov 10
                      </p>
                    </div>
                    <div class="blog-post-content">
                      <h2 class="blog-post-title">
                        <a href="/2017/11/10/fighting-for-workers-rights-in-the-gig-economy.html">Fighting for Workers' Rights in the Gig Economy</a>
                      </h2>
                      <p>
                        Curious about Evernote and how it can make your everyday more productive? Try it out here! Annie Powell solicitor, Leigh Day SPEAKER BIO Powell took on employment law’s “case of the year” in 2016, defending the worker’s rights of 19 Uber drivers. SUM...
                      </p>
                      <a class="btn btn-info" href="/2017/11/10/fighting-for-workers-rights-in-the-gig-economy.html">Read More</a><a class="blog-post-share pull-right" href="http://twitter.com/share?text=Fighting for Workers' Rights in the Gig Economy&url=https://wiredlive2017-1.curation.space/2017/11/10/fighting-for-workers-rights-in-the-gig-economy.html"><i class="material-icons">&#xE80D;</i></a>
                    </div>
                  </div>
                </div>
              </section>
              <section class="blog-post">
                <div class="panel panel-default">
                  <a href="/2017/11/09/my-beautiful-broken-brain.html"><img class="img-responsive" src="/images/df85c0564611cd7a378b2720a6fdd0e0.jpeg" /></a>
                  <div class="panel-body">
                    <div class="blog-post-meta">
                      <span class="label label-light label-info"><a href="/tags/day1.html">day1</a></span>
                      <span class="label label-light label-info"><a href="/tags/film.html">film</a></span>
                      <p class="blog-post-date pull-right">
                        Nov  9
                      </p>
                    </div>
                    <div class="blog-post-content">
                      <h2 class="blog-post-title">
                        <a href="/2017/11/09/my-beautiful-broken-brain.html">My Beautiful Broken Brain</a>
                      </h2>
                      <p>
                        Curious about Evernote and how it can make your everyday more productive? Try it out here! Lotje Sodderland film-maker SPEAKER BIO In her award-winning debut film My Beautiful Broken Brain, film-maker Lotje Sodderland explores resilience and the mind...
                      </p>
                      <a class="btn btn-info" href="/2017/11/09/my-beautiful-broken-brain.html">Read More</a><a class="blog-post-share pull-right" href="http://twitter.com/share?text=My Beautiful Broken Brain&url=https://wiredlive2017-1.curation.space/2017/11/09/my-beautiful-broken-brain.html"><i class="material-icons">&#xE80D;</i></a>
                    </div>
                  </div>
                </div>
              </section>
              <section class="blog-post">
                <div class="panel panel-default">
                  <a href="/2017/11/09/fighting-oppression-in-iran-with-apps.html"><img class="img-responsive" src="/images/901b76c0f8a57034e2dabe0fe36eedb5.jpeg" /></a>
                  <div class="panel-body">
                    <div class="blog-post-meta">
                      <span class="label label-light label-info"><a href="/tags/day1.html">day1</a></span>
                      <span class="label label-light label-info"><a href="/tags/activism.html">activism</a></span>
                      <p class="blog-post-date pull-right">
                        Nov  9
                      </p>
                    </div>
                    <div class="blog-post-content">
                      <h2 class="blog-post-title">
                        <a href="/2017/11/09/fighting-oppression-in-iran-with-apps.html">Fighting Oppression in Iran with Apps</a>
                      </h2>
                      <p>
                        Curious about Evernote and how it can make your everyday more productive? Try it out here! Firuzeh Mahmoudi director, United4Iran SPEAKER BIO Activist Firuzeh Mahmoudi wants to improve human rights and support civil society, using secure mobile apps ...
                      </p>
                      <a class="btn btn-info" href="/2017/11/09/fighting-oppression-in-iran-with-apps.html">Read More</a><a class="blog-post-share pull-right" href="http://twitter.com/share?text=Fighting Oppression in Iran with Apps&url=https://wiredlive2017-1.curation.space/2017/11/09/fighting-oppression-in-iran-with-apps.html"><i class="material-icons">&#xE80D;</i></a>
                    </div>
                  </div>
                </div>
              </section>
              <section class="blog-post">
                <div class="panel panel-default">
                  <a href="/2017/11/07/fireside-chat.html"><img class="img-responsive" src="/images/b5ff7580a683366e9e81f82b8a20987f.jpeg" /></a>
                  <div class="panel-body">
                    <div class="blog-post-meta">
                      <span class="label label-light label-info"><a href="/tags/day1.html">day1</a></span>
                      <span class="label label-light label-info"><a href="/tags/research.html">research</a></span>
                      <p class="blog-post-date pull-right">
                        Nov  7
                      </p>
                    </div>
                    <div class="blog-post-content">
                      <h2 class="blog-post-title">
                        <a href="/2017/11/07/fireside-chat.html">Fireside Chat</a>
                      </h2>
                      <p>
                        Curious about Evernote and how it can make your everyday more productive? Try it out here! Margrethe Vestager EU Commissioner for Competition SPEAKER BIO Holding one of the most powerful positions in Europe, Margrethe Vestager is responsible for crea...
                      </p>
                      <a class="btn btn-info" href="/2017/11/07/fireside-chat.html">Read More</a><a class="blog-post-share pull-right" href="http://twitter.com/share?text=Fireside Chat&url=https://wiredlive2017-1.curation.space/2017/11/07/fireside-chat.html"><i class="material-icons">&#xE80D;</i></a>
                    </div>
                  </div>
                </div>
              </section>
              <section class="blog-post">
                <div class="panel panel-default">
                  <a href="/2017/11/07/science-museum-presents-part-one-how-to-make-a-zombie.html"><img class="img-responsive" src="/images/7c581496acb2386cc355601fbd1aefde.jpeg" /></a>
                  <div class="panel-body">
                    <div class="blog-post-meta">
                      <span class="label label-light label-info"><a href="/tags/day1.html">day1</a></span>
                      <span class="label label-light label-info"><a href="/tags/research.html">research</a></span>
                      <p class="blog-post-date pull-right">
                        Nov  7
                      </p>
                    </div>
                    <div class="blog-post-content">
                      <h2 class="blog-post-title">
                        <a href="/2017/11/07/science-museum-presents-part-one-how-to-make-a-zombie.html">Science Museum Presents Part One: How to Make a Zombie</a>
                      </h2>
                      <p>
                        Curious about Evernote and how it can make your everyday more productive? Try it out here! Marcus du Sautoy professor of mathematics, University of Oxford With an introduction from Roger Highfield, director of external affairs, Science Museum Group S...
                      </p>
                      <a class="btn btn-info" href="/2017/11/07/science-museum-presents-part-one-how-to-make-a-zombie.html">Read More</a><a class="blog-post-share pull-right" href="http://twitter.com/share?text=Science Museum Presents Part One: How to Make a Zombie&url=https://wiredlive2017-1.curation.space/2017/11/07/science-museum-presents-part-one-how-to-make-a-zombie.html"><i class="material-icons">&#xE80D;</i></a>
                    </div>
                  </div>
                </div>
              </section>
              <section class="blog-post">
                <div class="panel panel-default">
                  <a href="/2017/11/07/science-of-consciousness.html"><img class="img-responsive" src="/images/820409e97aa10717a49414a35b5ae613.jpeg" /></a>
                  <div class="panel-body">
                    <div class="blog-post-meta">
                      <span class="label label-light label-info"><a href="/tags/day1.html">day1</a></span>
                      <span class="label label-light label-info"><a href="/tags/research.html">research</a></span>
                      <p class="blog-post-date pull-right">
                        Nov  7
                      </p>
                    </div>
                    <div class="blog-post-content">
                      <h2 class="blog-post-title">
                        <a href="/2017/11/07/science-of-consciousness.html">Science of Consciousness</a>
                      </h2>
                      <p>
                        Curious about Evernote and how it can make your everyday more productive? Try it out here! Anil Seth professor of cognitive and computational neuroscience, University of Sussex co-director, Sackler Centre for Consciousness Science editor-in-chief, Ne...
                      </p>
                      <a class="btn btn-info" href="/2017/11/07/science-of-consciousness.html">Read More</a><a class="blog-post-share pull-right" href="http://twitter.com/share?text=Science of Consciousness&url=https://wiredlive2017-1.curation.space/2017/11/07/science-of-consciousness.html"><i class="material-icons">&#xE80D;</i></a>
                    </div>
                  </div>
                </div>
              </section>
            </div>
            <div class="col-sm-4">
              <section class="blog-post">
                <div class="panel panel-default">
                  <a href="/2017/11/10/the-equation-for-happiness.html"><img class="img-responsive" src="/images/965e71020284e3f4ede6bb052f59d2f2.jpeg" /></a>
                  <div class="panel-body">
                    <div class="blog-post-meta">
                      <span class="label label-light label-info"><a href="/tags/strategy.html">strategy</a></span>
                      <span class="label label-light label-info"><a href="/tags/day2.html">day2</a></span>
                      <p class="blog-post-date pull-right">
                        Nov 10
                      </p>
                    </div>
                    <div class="blog-post-content">
                      <h2 class="blog-post-title">
                        <a href="/2017/11/10/the-equation-for-happiness.html">The Equation for Happiness</a>
                      </h2>
                      <p>
                        Curious about Evernote and how it can make your everyday more productive? Try it out here! Mo Gawdat chief business officer, Google X author, Solve for Happy SPEAKER BIO Entrepreneur, remarkable thinker and chief business officer of Google’s elite te...
                      </p>
                      <a class="btn btn-info" href="/2017/11/10/the-equation-for-happiness.html">Read More</a><a class="blog-post-share pull-right" href="http://twitter.com/share?text=The Equation for Happiness&url=https://wiredlive2017-1.curation.space/2017/11/10/the-equation-for-happiness.html"><i class="material-icons">&#xE80D;</i></a>
                    </div>
                  </div>
                </div>
              </section>
              <section class="blog-post">
                <div class="panel panel-default">
                  <a href="/2017/11/10/to-catch-a-paedophile-you-only-need-to-look-at-their-hands.html"><img class="img-responsive" src="/images/d0848a5d8b9dd9080f6e6857e9293daa.jpeg" /></a>
                  <div class="panel-body">
                    <div class="blog-post-meta">
                      <span class="label label-light label-info"><a href="/tags/research.html">research</a></span>
                      <span class="label label-light label-info"><a href="/tags/day2.html">day2</a></span>
                      <p class="blog-post-date pull-right">
                        Nov 10
                      </p>
                    </div>
                    <div class="blog-post-content">
                      <h2 class="blog-post-title">
                        <a href="/2017/11/10/to-catch-a-paedophile-you-only-need-to-look-at-their-hands.html">To Catch a Paedophile, You Only Need to Look at Their Hands</a>
                      </h2>
                      <p>
                        Curious about Evernote and how it can make your everyday more productive? Try it out here! Professor Dame Sue Black director, Centre for Anatomy and Human Identification Leverhulme Research Centre for Forensic Science, MSI Complex, University of Dund...
                      </p>
                      <a class="btn btn-info" href="/2017/11/10/to-catch-a-paedophile-you-only-need-to-look-at-their-hands.html">Read More</a><a class="blog-post-share pull-right" href="http://twitter.com/share?text=To Catch a Paedophile, You Only Need to Look at Their Hands&url=https://wiredlive2017-1.curation.space/2017/11/10/to-catch-a-paedophile-you-only-need-to-look-at-their-hands.html"><i class="material-icons">&#xE80D;</i></a>
                    </div>
                  </div>
                </div>
              </section>
              <section class="blog-post">
                <div class="panel panel-default">
                  <a href="/2017/11/09/robots-that-crawl-fly-swim-and-hop.html"><img class="img-responsive" src="/images/d8322ac9bb56956d007b5408097e7ca4.jpeg" /></a>
                  <div class="panel-body">
                    <div class="blog-post-meta">
                      <span class="label label-light label-info"><a href="/tags/day2.html">day2</a></span>
                      <span class="label label-light label-info"><a href="/tags/design.html">design</a></span>
                      <p class="blog-post-date pull-right">
                        Nov  9
                      </p>
                    </div>
                    <div class="blog-post-content">
                      <h2 class="blog-post-title">
                        <a href="/2017/11/09/robots-that-crawl-fly-swim-and-hop.html">Robots that Crawl, Fly, Swim and Hop</a>
                      </h2>
                      <p>
                        Curious about Evernote and how it can make your everyday more productive? Try it out here! Dr Elias Knubben head of corporate bionic projects, Festo SPEAKER BIO Elias Knubben is responsible for the conceptual design and project management of the bion...
                      </p>
                      <a class="btn btn-info" href="/2017/11/09/robots-that-crawl-fly-swim-and-hop.html">Read More</a><a class="blog-post-share pull-right" href="http://twitter.com/share?text=Robots that Crawl, Fly, Swim and Hop&url=https://wiredlive2017-1.curation.space/2017/11/09/robots-that-crawl-fly-swim-and-hop.html"><i class="material-icons">&#xE80D;</i></a>
                    </div>
                  </div>
                </div>
              </section>
              <section class="blog-post">
                <div class="panel panel-default">
                  <a href="/2017/11/09/peak-performance-under-intense-pressure.html"><img class="img-responsive" src="/images/20f93c49c2c0ce3c6ac374ee23758d46.jpeg" /></a>
                  <div class="panel-body">
                    <div class="blog-post-meta">
                      <span class="label label-light label-info"><a href="/tags/day1.html">day1</a></span>
                      <span class="label label-light label-info"><a href="/tags/strategy.html">strategy</a></span>
                      <p class="blog-post-date pull-right">
                        Nov  9
                      </p>
                    </div>
                    <div class="blog-post-content">
                      <h2 class="blog-post-title">
                        <a href="/2017/11/09/peak-performance-under-intense-pressure.html">Peak Performance under Intense Pressure</a>
                      </h2>
                      <p>
                        Curious about Evernote and how it can make your everyday more productive? Try it out here! Nico Rosberg Former Formula One racing driver SPEAKER BIO With a racing record of 23 career wins and 30 pole positions, former Formula One racing driver Rosber...
                      </p>
                      <a class="btn btn-info" href="/2017/11/09/peak-performance-under-intense-pressure.html">Read More</a><a class="blog-post-share pull-right" href="http://twitter.com/share?text=Peak Performance under Intense Pressure&url=https://wiredlive2017-1.curation.space/2017/11/09/peak-performance-under-intense-pressure.html"><i class="material-icons">&#xE80D;</i></a>
                    </div>
                  </div>
                </div>
              </section>
              <section class="blog-post">
                <div class="panel panel-default">
                  <a href="/2017/11/09/how-our-senses-change-how-food-tastes.html"><img class="img-responsive" src="/images/450fedf1ac34d5c89cc7a4249bef78eb.jpeg" /></a>
                  <div class="panel-body">
                    <div class="blog-post-meta">
                      <span class="label label-light label-info"><a href="/tags/day1.html">day1</a></span>
                      <span class="label label-light label-info"><a href="/tags/research.html">research</a></span>
                      <p class="blog-post-date pull-right">
                        Nov  9
                      </p>
                    </div>
                    <div class="blog-post-content">
                      <h2 class="blog-post-title">
                        <a href="/2017/11/09/how-our-senses-change-how-food-tastes.html">How Our Senses Change How Food Tastes</a>
                      </h2>
                      <p>
                        Curious about Evernote and how it can make your everyday more productive? Try it out here! Charles Spence professor of experimental psychology, Somerville College SPEAKER BIO Experimental psychologist Spence concocts dream-like food, drink and fragra...
                      </p>
                      <a class="btn btn-info" href="/2017/11/09/how-our-senses-change-how-food-tastes.html">Read More</a><a class="blog-post-share pull-right" href="http://twitter.com/share?text=How Our Senses Change How Food Tastes&url=https://wiredlive2017-1.curation.space/2017/11/09/how-our-senses-change-how-food-tastes.html"><i class="material-icons">&#xE80D;</i></a>
                    </div>
                  </div>
                </div>
              </section>
              <section class="blog-post">
                <div class="panel panel-default">
                  <a href="/2017/11/07/deepmind-session.html"><img class="img-responsive" src="/images/4cff6235eb0015bc83dbcb108076bfff.jpeg" /></a>
                  <div class="panel-body">
                    <div class="blog-post-meta">
                      <span class="label label-light label-info"><a href="/tags/day1.html">day1</a></span>
                      <span class="label label-light label-info"><a href="/tags/ai.html">ai</a></span>
                      <p class="blog-post-date pull-right">
                        Nov  7
                      </p>
                    </div>
                    <div class="blog-post-content">
                      <h2 class="blog-post-title">
                        <a href="/2017/11/07/deepmind-session.html">Deepmind Session</a>
                      </h2>
                      <p>
                        Curious about Evernote and how it can make your everyday more productive? Try it out here! ALGORITHMIC BIAS KEYNOTE Joy Buolamwini founder, Algorithmic Justice League founder, Code4Rights With an introduction by Mustafa Suleyman, co-founder and head ...
                      </p>
                      <a class="btn btn-info" href="/2017/11/07/deepmind-session.html">Read More</a><a class="blog-post-share pull-right" href="http://twitter.com/share?text=Deepmind Session&url=https://wiredlive2017-1.curation.space/2017/11/07/deepmind-session.html"><i class="material-icons">&#xE80D;</i></a>
                    </div>
                  </div>
                </div>
              </section>
              <section class="blog-post">
                <div class="panel panel-default">
                  <a href="/2017/11/07/determining-truth-in-the-era-of-alternative-facts.html"><img class="img-responsive" src="/images/8e19f522ed02b885e844317cf841d214.jpeg" /></a>
                  <div class="panel-body">
                    <div class="blog-post-meta">
                      <span class="label label-light label-info"><a href="/tags/day1.html">day1</a></span>
                      <span class="label label-light label-info"><a href="/tags/journalism.html">journalism</a></span>
                      <p class="blog-post-date pull-right">
                        Nov  7
                      </p>
                    </div>
                    <div class="blog-post-content">
                      <h2 class="blog-post-title">
                        <a href="/2017/11/07/determining-truth-in-the-era-of-alternative-facts.html">Determining Truth in the Era of Alternative Facts</a>
                      </h2>
                      <p>
                        Curious about Evernote and how it can make your everyday more productive? Try it out here! Jimmy Wales co-founder, Wikipedia; founder, WikiTribune SPEAKER BIO The founder of the world’s fifth-most-visited website wants to use Wikipedia’s fact-checkin...
                      </p>
                      <a class="btn btn-info" href="/2017/11/07/determining-truth-in-the-era-of-alternative-facts.html">Read More</a><a class="blog-post-share pull-right" href="http://twitter.com/share?text=Determining Truth in the Era of Alternative Facts&url=https://wiredlive2017-1.curation.space/2017/11/07/determining-truth-in-the-era-of-alternative-facts.html"><i class="material-icons">&#xE80D;</i></a>
                    </div>
                  </div>
                </div>
              </section>
              <section class="blog-post">
                <div class="panel panel-default">
                  <a href="/2017/11/06/swipe-right-for-equality.html"><img class="img-responsive" src="/images/573d1a2b57f3168047f1411ed3f06587.jpeg" /></a>
                  <div class="panel-body">
                    <div class="blog-post-meta">
                      <span class="label label-light label-info"><a href="/tags/day1.html">day1</a></span>
                      <span class="label label-light label-info"><a href="/tags/socialmedia.html">socialMedia</a></span>
                      <p class="blog-post-date pull-right">
                        Nov  6
                      </p>
                    </div>
                    <div class="blog-post-content">
                      <h2 class="blog-post-title">
                        <a href="/2017/11/06/swipe-right-for-equality.html">Swipe Right for Equality</a>
                      </h2>
                      <p>
                        Curious about Evernote and how it can make your everyday more productive? Try it out here! Whitney Wolfe Herd founder and CEO, Bumble SPEAKER BIO Tinder co-founder Wolfe launched dating app Bumble in 2014 to tackle sexism and empower women. SUMMARY B...
                      </p>
                      <a class="btn btn-info" href="/2017/11/06/swipe-right-for-equality.html">Read More</a><a class="blog-post-share pull-right" href="http://twitter.com/share?text=Swipe Right for Equality&url=https://wiredlive2017-1.curation.space/2017/11/06/swipe-right-for-equality.html"><i class="material-icons">&#xE80D;</i></a>
                    </div>
                  </div>
                </div>
              </section>
            </div>
            <nav>
              <ul class="pager">
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <footer class="blog-footer">
      <div id="links">
        <div class="container">
          <div class="row">
            <div class="col-sm-2">
              wiredlive2017
            </div>
            <div class="col-sm-8 text-center offset">
              <ul class="list-inline">
              </ul>
            </div>
            <div class="col-md-2 text-right offset">
            </div>
          </div>
        </div>
      </div>
    </footer>
    <button class="material-scrolltop danger" type="button"></button><script src="../js/all.js" type="text/javascript"></script>
    <script type="text/javascript">
      $.material.init();
      $('body').materialScrollTop();
    </script>
  </body>
</html>